body{
  margin: 0;
}

*{
  box-sizing: padding-box;
}

a{
  text-decoration: none;
  color: black;
}

.img{
  width: 100%;
  height: 100vh;
}



.head{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #e1eacd;
}

.menu a{
  text-decoration: none;
  color: black;
  margin: 0 20px 0 20px;
  padding: 0 10px 0 10px;
  font-family: 'Roboto', sans-serif;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.menu a:hover{
  transition: 0.3s;
  border-bottom: 2px solid black
}

.menu{
  margin: 0;
  display: flex;
}

.menu li{
  display: flex;
}

.container{
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: row;
}

p{
  font-family: 'Roboto', sans-serif;
}

.index{
  width: 60%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post{
  box-shadow: 0px 0px 1px rgb(0, 0, 0) inset;
  width: 40%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
